* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(243, 243, 243);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center; /*Alinhamento Horizontal*/
	
}

.instagram-content {
	display: flex; /*Posicionamento horizontal um ao lado do outro*/
	align-items: center; /*Alinhamento Vertical*/
	justify-content: center; /*Alinhamento Horizontal*/
	width: 60%; /*Largura da Div*/
	height: 100vh; /*Altura da Div*/
	margin-top: 2%;
}

.instagram-phone {
	display: flex; /*Posicionamento dos itens flex - um ao lado do outro*/
	align-items: center; /*Alinhamentos dos itens da div no centro*/
	justify-content: center; /*Alinamento horizontal*/
	width: 50%;
}

.instagram-phone img {
	height: 535px;
}

.instagram-continue {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 45%;
	min-height: 34rem;
	margin-top: 5%;

}
.instagram-login {
	color: white;
}

.group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	width: 100%;
	border: 1px solid lightgray;
	margin-top: 50px;
}

.group:nth-child(2) {
	margin-top: 10px;
}
.group button {
	height: 31px;
    border-radius: 6px;
	background-color: #0095f6;
    padding: 5px;
    font-weight: 600;
    width: 250px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    border: none;

}

.profile-photo img {
	border-radius: 100px;
	width: 100px;
	margin-top: 30px;
}

.not-account {
	margin-top: 15px;
}

.link-blue {
	color: #0095F6; !important
}

span.link-blue  {
	margin-top: 20px;
}

 .get-the-app {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	width: 100%;
 }
 .get-app {
 	margin-top: 10px;
 }

 .download {
 	display: flex;
 	width: 100%;
 	align-items: center;
 }

 .app-download img {
 	width: 100%;
 }

/*CADASTRAR*/
#cadastrar {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
#cadastrar input {
	width: 250px;
	height: 30px;
	border-radius: 1px;
	margin: 1% auto; /*Centralizar o input na div o primeiro valor é a margem do topo*/
	text-align: center;
	border: 1px solid #E8E9E9;
	display: block;
}
#cadastrar button {
	height: 31px;
    border-radius: 6px;
    background: #0095f6;
    padding: 5px;
    font-weight: 600;
    width: 250px;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 20px auto;
    display: block; /*Faz com que o botão ocupe todo os espaço disponivel na linha como um bloco*/
    border: none;
    color: white;
    cursor: pointer;
}
#cadastrar span {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: block;
    margin: auto;
    text-align: center;
    color: #929799;
    width: 250px;
}
#cadastrar h2 {
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    color: #929799;
    width: 200px;
}

@media(max-width: 1024px) {
	#cadastrar input {
		width: 60%;
	}
	#cadastrar button {
		width: 60%;
	}
	.instagram-content {
		margin-top: 5%;
	}
	#cadastrar h2{
		width: 100%;
	}
	#cadastrar span{
		width: 100%;
	}

}
